section.profile-picture
	.profile-picture__avatar-wrapper
		img(src="./images/myAvatar.png" alt="avatar").profile-picture__avatar
	h1.profile-picture__first-name Alexey
	h2.profile-picture__last-name Alexeev
	h4.profile-picture__job Front-end Developer