section.profile-section
	.section-header
		.section-header__icon-wrapper
			img.section-header__icon(src="./images/user.svg" alt="")
		h2.section-header__title.profile Profile
	p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Sed vulputate odio ut enim blandit volutpat maecenas. Ut lectus arcu bibendum at varius vel pharetra vel. Nulla facilisi morbi tempus iaculis urna id volutpat. Pulvinar etiam non quam lacus suspendisse. Tristique nulla aliquet enim tortor at auctor urna nunc id. Dapibus ultrices in iaculis nunc. Est ullamcorper eget nulla facilisi etiam dignissim diam. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. <span> Netus et malesuada fames ac turpis. Cras pulvinar mattis nunc sed blandit libero volutpat. In tellus integer feugiat scelerisque varius morbi. Fringilla est ullamcorper eget nulla facilisi. Lectus nulla at volutpat diam ut venenatis tellus. Augue ut lectus arcu bibendum at varius vel. Sed ullamcorper morbi tincidunt ornare massa. Sit amet consectetur adipiscing elit. Integer vitae justo eget magna. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. </span>
